{% comment %}
  Template: page.test.liquid
  Purpose: Custom Test Page combining Banner and Grid sections
{% endcomment %}

{% layout 'theme' %}

<div class="page-width">
  <!-- Banner Section -->
  {% section 'banner' %}

  <!-- Grid Section -->
  {% section 'grid' %}
</div>


{% layout 'theme' %}
{% section 'banner' %}
{% section 'grid' %}