{% comment %} Debugging marker - remove after confirming {% endcomment %}
<h1 style="color:red; text-align:center;">THIS IS PAGE.TEST.LIQUID</h1>

{% layout 'theme' %}
{% section 'banner' %}
{% section 'grid' %}